In [1]:
%reset -f

In [2]:
import numpy as np
import pandas as pd
import re

import spacy
#import gensim
#from gensim import corpora
#from gensim.models import Word2Vec
#from gensim.models.word2vec import LineSentence
#from gensim.models.phrases import Phrases, Phraser

data_path = '/Users/ayemyatwinshwe/repos/data/trading_data/'

In [3]:
nlp = spacy.load('en_core_web_sm', disable=['ner'])
nlp.max_length = 6000000

In [23]:
url_regex = 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'

def tokenize(text):
    """
        1. Replace url in the text with 'urlplaceholder'
        2. Tokenize the text removing stop words, digits, punctuations, space, symbols
    """
    urls = re.findall(url_regex, text)
    for url in urls:
        text = text.replace(url, "urlplaceholder")
    doc = nlp(text)
    tokens = [token.text.lower() for token in doc if not any ([token.is_stop,
                                                               token.is_digit,
                                                               not token.is_alpha,
                                                               token.is_punct, 
                                                               token.is_space,
                                                               token.lemma_ == '_PRON_',
                                                               token.pos_ in ['PUNCT', 'SYM', 'X']])]
    
    return tokens

In [5]:
df_earning_call = pd.read_parquet(data_path + 'earning_calls_1')
df_earning_call.head()

,quarter,year,date,content,prev_day,next_7day,prev_adjClose,next_adjClose
symbol,,,,,,,,
A,1,2019,2019-03-04,"Operator: Good day, ladies and gentlemen, and ...",2019-02-20,2019-03-04,77.049599,78.589417
A,2,2019,2019-05-24,"Operator: Good day, ladies and gentlemen. And ...",2019-05-14,2019-05-24,74.701042,67.182785
A,3,2019,2019-08-26,"Operator: Good afternoon, and welcome to the A...",2019-08-14,2019-08-26,64.602371,68.591385
A,4,2019,2019-12-05,"Operator: Good afternoon, and welcome to the A...",2019-11-25,2019-12-05,79.221558,80.475121
A,1,2020,2020-02-28,Operator: Good afternoon and welcome to the Ag...,2020-02-18,2020-02-28,83.869682,76.233475